<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidPractice"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_string"></meta-data>

        <activity
            android:name="Pillerofandroid.Broadcastrecevicer"
            android:exported="false" />
        <activity
            android:name="Pillerofandroid.WorkerManger"
            android:exported="false" />
        <activity
            android:name="Pillerofandroid.Service"
            android:exported="false" />
        <activity
            android:name="CameraAndGalleryPart.Gallery"
            android:exported="true">
            android:name=".BottomSheetAndWebview.Map.Map"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="CameraAndGalleryPart.Gallery"
            android:exported="true">
        </activity>


        <activity
            android:name="BottomSheetAndWebview.Webview"
            android:exported="true" />
        <activity
            android:name="BottomSheetAndWebview.BottomSheet"
            android:exported="true" />
        <activity
            android:name=".ModuleofTabAndBottomAndDrwable.navigatiodrawableexaml"
            android:exported="true" />
        <activity
            android:name=".ModuleofTabAndBottomAndDrwable.bottomnav"
            android:exported="false" />
        <activity
            android:name=".ModuleofTabAndBottomAndDrwable.Tablayout"
            android:exported="true" />
        <activity
            android:name=".RecModuleofcurd.detailed"
            android:exported="false" />
        <activity
            android:name=".RecModuleofcurd.Recerviewclass"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="Pillerofandroid.loggerservice"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver android:name="Pillerofandroid.BroadcastRecevier"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>